
#project-name{
    float:left;
    width: 100%;
    color: #555;
    padding-left: 30%;
}

#project-main{
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#project-sidebar{
    float: left;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.project{
    width: 80%;
    margin:auto;
    padding: 5px 0px;
}

.project-item{
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

.project-item h1{
    margin: 0px 0px;
    padding: 10px 0px;
    border-bottom-style: solid;
    border-color: #333;
}

.project-item p{
    float: left;
    width: 60%;
}

.project-item ul{
    float: left;
    width: 33%;
    font-size: 14px;
}

.project-pic{
    float: left;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.project-pic img{
    max-width: 100%;
    height: auto;
}

