
#project-name{
    float:left;
    width: 100%;
    color: #555;
    border-bottom-style: solid;
    border-color: #333;
}

#project-main{
    float: right;
    width: 70%;
    margin-right: 10%;
    padding: 0px 30px;
    box-sizing: border-box;
}

#project-main h2{
    padding-top: 60px;
}

#project-main h3{
    font-style: italic;
}

#project-sidebar{
    float: left;
    width: 20%;
    height: auto;
    background: #333;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

#project-sidebar ul{
    padding: 0px;
    margin-top: 0px;
    list-style: none;
}

#project-sidebar h2{
    margin-top: 0px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-color: #d4332a;
}

#project-sidebar p{
    color: #d4332a;
    font-weight: 700;
}

#project-sidebar a{
    color: #fff;
    text-decoration: none;
}

#project-sidebar a:hover{
    color: #d4332a;
    font-weight: 700;
}

.project{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 0px;
}

.project-item{
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

.project-item h1{
    margin: 0px 0px;
    padding: 10px 0px;
    border-bottom-style: solid;
    border-color: #333;
}

.project-item p{
    float: left;
    width: 60%;
}

.project-item ul{
    float: left;
    width: 33%;
    font-size: 14px;
}

.project-pic{
    float: left;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.project-pic img{
    max-width: 100%;
    height: auto;
}

.picture-center{
    width: 100%;
    background-color: #ddd;
    border-left-style: solid;
    border-left-width: 10px;
    border-color: #333;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;    
}

.picture-center img{
    margin-left: 20%;
    width: 60%;
}

.picture-caption{
    width: 100%;
    font-size: 12px;
    line-height: 1.6em;
    text-align: center;
}

.picture-3row{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ddd;
    border-left-style: solid;
    border-left-width: 10px;
    border-color: #333;
    padding: 10px;
    box-sizing: border-box;
}

.picture-3row img{
    width: 32%;
    margin-left: 1%;
}

.picture-4row{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ddd;
    border-left-style: solid;
    border-left-width: 10px;
    border-color: #333;
    padding: 10px;
    box-sizing: border-box;    
}

.picture-4row img{
    width: 23%;
    margin-left: 1%;    
}

.video{
    width: 100%;
    height: 56.25vw;
    background: #ddd;
    border-left-style: solid;
    border-left-width: 10px;
    border-color: #333;
    padding: 10px;
    box-sizing: border-box;   
}

.video iframe{
    margin-left: 20%;
    width: 60%; 
}

